<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
</head>
<body>
     <h1>Mascotas</h1>
     {% for mascota in mascotas %}
        <p>
                <b>{{ mascota.nombre }}</b>
                <br>
                <b>tipo: {{ mascota.tipo }}</b>
                <br>
                <b>color: {{ mascota.color }}</b>
        </p>
        {% endfor %}
        
        <h2>agregar una mascota</h2>
        <form action="/agregar_mascota" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required>
            <br>
            <label for="tipo">Tipo:</label>
            <input type="text" name="tipo" id="tipo" required>
            <br>
            <label for="color">Color:</label>
            <input type="text" name="color" id="color" required>
            <br>
            <input type="submit" value="Agregar Mascota">
        
</body>
</html>